.info{
    border: solid black;
    width: 250px;
    height: 100px;
    margin: 5px;
    padding: 10px;
}
a.cell{
    font-size: 5px;
    color: white;
    text-decoration: none;
}
#myChart{
    margin-left: 30%;
}