<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style_login.css') }}">
    <title>Вход</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="bar">
        <a class="back" href="/">главная</a>
    </div>
    <div class="registration row col-4 justify-content-center">
        <form action="" method="post" class="registration__field">
            {{ form.csrf_token }}
            <h1 title="Форма регистрации на сайте" class="row col-4 justify-content-center">Вход</h1>
            <div class="registration__field-row">
                <div class="registration__field-row-label">
                    <label>{{ form.username.label }}</label>
                </div>
                <div class="registration__field-row-input row col-4 justify-content-center">
                    {{ form.username(class="form-control") }}<br>
                    {% for error in form.username.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div class="registration__field-row row col-4 justify-content-center">
                <div class="registration__field-row-label">
                    <label>{{ form.password.label }}</label>
                </div>
                <div class="registration__field-row-input row col-4 justify-content-center">
                    {{ form.password(class="form-control", type="password") }}<br>
                    {% for error in form.password.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div class="registration__field-row row col-4 justify-content-center">
                <div class="registration__field-row-label">
                    <label>{{ form.remember_me.label }} {{ form.remember_me() }}</label>
                </div>
            </div>
            <div class="smbt-button row col-4 justify-content-center">
                {{ form.submit(type="submit", class="btn btn-primary") }}
            </div>
            <div class="registration__field-row row col-4 justify-content-center">
                <div class="registration__field-row-label">
                    <a class="back-m" href="/registration">cоздать аккаунт</a>
                </div>
            </div>
            <div class="error">
                {{message}}
            </div>
        </form>
    </div>
</body>
</html>
